*{
  background-color: black;
  text-align: center;
  margin: 25px;
 
}

.App {
  display: flex;
  justify-content: space-between;
  margin-left: 100px;
  margin-right: 100px;
}

.page {
  border-color: white;
  border: 20px;
  height: 500px;
  width: 500px;
  background-color: gray;
}

.widgets {
  color: white;
}

.dropped-widget {
  background-color: white;
}